{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>{{ post.title }} - Blog Away</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/admin">Admin</a></li>
          <li><a href="{% url 'home' %}">Back</a></li>
          <ul>
      </nav>
    </header>
    <main>
      <h1>{{ post.title }}</h1>
      <h2>{{ post.created_at }}</h2>
      <p>
        Keywords:
        {% for keyword in post.keywords.all %} {{ keyword.word }} {% endfor %}
      </p>
      <div>
        {{ post.content }}
      </div>
      <h3 class="comments-header">Comments</h3>
      {% for comment in post.comments.all %}
      <div class="comment">
        <div>{{ comment.author }} on {{ comment.created_at }} wrote:</div>
        <p>
          {{ comment.content }}
        </p>
      </div>
      {% empty %}
      <p>There are not comments for this post.</p>
      {% endfor %}
    </main>
    <footer></footer>
  </body>

</html>
